$bg-color-two: #e5e5e5;
$bg-color: #ffffff;

html,
body,
#root {
    height: 100%;
}

html {
    background: $bg-color-two;
}

body {
    margin: 0;
    font-family: Inter;
}

.csHeader {
    padding: 5px;
    border-bottom: 1px solid $bg-color-two;

    .csCard {
        display: flex;

        .csTitle {
            margin-top: auto;
            margin-bottom: auto;
        }

        .csSearchInput {
            margin: auto;
            min-width: 33%;
            padding: 10px;
            border-radius: 10px;
            background: $bg-color-two;
            border: 1px solid $bg-color-two;
            text-align: center;
        }
    }
}

.csSidebar {
    width: 300px;
    border-right: 1px solid $bg-color-two;
    height: auto;
    padding: 5px;
    position: relative;

    .csCard {
        position: absolute;
        inset: 5px;
    }
}

.csCard {
    padding: 12px;
    border-radius: 8px;
    background-color: $bg-color;
}

.csLayout {
    display: flex;
    flex-direction: column;
    height: 100%;
}